<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section class="content-wrapper">
		<div class="container shadow-sm border rounded mt-4 mb-4 bg-white">

			<h2 class="blue-underline mt-4 mb-4 col-md-12 text-colour">Add Item</h2>

			<!-- Add Item Form -->
			<form th:action="@{/admin/addItem}" th:method="post">
				<div class="form-row">
				
					<!-- Select Product Type for Upper body -->
					<div class="form-group col-md-6">
						<label for="selectProductTypeUpperBody">Product Type</label> <select
							class="form-control" id="selectProductTypeUpperBody"
							name="productType">
							<option selected disabled>Select Type...</option>
							<!-- <option th:each="product : ${productType}" th:text="${product.productName}"></option> -->
							<option>Shirt</option>
							<option>T-Shirt</option>
							<option>Jeans</option>
						</select>
					</div>
					
					
					

					<!-- Item Code -->
					<div class="form-group col-md-6">
						<label for="itemCode">Product / Style Number</label> <input type="text"
							class="form-control" id="itemCode" name="styleNumber"
							placeholder="Enter Product / Style Number">
					</div>
				</div>


				<!-- Select Category -->
				<div class="form-row">


					<!-- Item HSN / SAC -->
					<div class="form-group col-md-6">
						<label for="itemCode">Item HSN / SAC</label> <input type="text"
							class="form-control" id="itemCode" name="itemHsnSac"
							placeholder="Item HSN / SAC">
					</div>


					<!-- Color -->
					<div class="form-group col-md-6">
						<label for="color">Color</label> <input type="text"
							class="form-control" id="color" name="color"
							placeholder="Enter color">
					</div>


					<!-- Select Color 
					<div class="form-group col-md-6">
						<label for="color">Select Color</label>
						<select class="form-control" id="color" name="color">
							<option selected disabled>Select Color...</option>
							<option>White</option>
							<option>Green</option>
							<option>Black</option>
							<option>Blue</option>
							<option>Yellow</option>
						</select>
					</div> -->


				</div>

				<div class="form-row">

					<!-- Item Name -->
					<div class="form-group col-md-6">
						<label for="itemName">Product Specification</label> <input type="text"
							class="form-control" id="itemName" name="productSpecification"
							placeholder="Enter Product Specification" required>
					</div>

					<!-- Category Name  
					<div class="form-group col-md-6">
						<label for="selectCategory">Select Size</label>
						<select class="form-control" id="selectCategory">
							<option>Numeric</option>
							<option>Alpha Numeric</option>
						</select>
					</div>   -->


					<!-- Select Numeric Size -->
					<div id="sizeNumeric" class="form-group col-md-6">
						<label for="NumericSize">Select Size</label> <select
							class="form-control" id="NumericSize" name="size">
							<option selected disabled>Select Size...</option>
							<option>28</option>
							<option>30</option>
							<option>32</option>
							<option>34</option>
							<option>36</option>
							<option>40</option>
							<option>42</option>
							<option>44</option>
							<option>46</option>
							<option>48</option>
							<option>50</option>
						</select>
					</div>


					<!-- Select Alpha Numeric Size -->
					<div id="sizeAlphaNumeric" class="form-group col-md-6"
						style="display: none;">
						<label for="alphaNumeric">Select Size</label> <select
							class="form-control" id="alphaNumeric" name="size">
							<option selected disabled>Select Size...</option>
							<option>XS (30-32)</option>
							<option>S (34-36)</option>
							<option>M (38-40)</option>
							<option>L (42-44)</option>
							<option>XL (46-48)</option>
							<option>2XL (50-52)</option>
							<option>3XL (54-56)</option>
							<option>4XL (58-60)</option>
							<option>5XL (62-64)</option>
							<option>6XL (66-68)</option>
							<option>7XL (70-72)</option>
							<option>8XL (74-76)</option>
						</select>
					</div>


				</div>
				
				
				
				<!-- Quantity  -->
				<div class="form-row">
				
					<!-- Color -->
					<div class="form-group col-md-6">
						<label for="quantity">Quantity</label> <input type="text"
							class="form-control" id="quantity" name="quantity"
							placeholder="Enter Quantity">
					</div>

				</div>
				
				

				<h4 class="blue-underline mt-4 mb-4 col-md-2 text-colour">PRICING</h4>

				<div class="form-row">

					<!-- Pricing Section -->
					<div class="form-group col-md-6">
						<label for="itemMRP">MRP (Maximum Retail Price)</label> <input
							type="text" class="form-control" id="itemMRP" name="mrp"
							placeholder="Enter MRP" required>
					</div>

					<div class="form-group col-md-6">
						<label for="itemSalePrice">Sale Price</label> <input type="text"
							class="form-control" id="itemSalePrice" name="salePrice"
							placeholder="Enter sale price" required>
					</div>

					<div class="form-group col-md-6">
						<label for="itemWholesalePrice">Wholesale Price</label> <input
							type="text" class="form-control" id="itemWholesalePrice"
							name="wholesalePrice" placeholder="Enter wholesale price"
							required>
					</div>

					<div class="form-group col-md-6">
						<label for="itemPurchasePrice">Purchase Price</label> <input
							type="text" class="form-control" id="itemPurchasePrice"
							name="purchasePrice" placeholder="Enter wholesale price"
							required>
					</div>
					
					<!-- <div class="form-group col-md-6">
						<label for="itemTaxRate">Tax Rate</label> <input
							type="text" class="form-control" id="itemTaxRate"
							name="purchase_price" placeholder="Enter Tax Rate"
							required>
					</div> -->
				</div>


				<div class=" text-center border-top mt-4">
					<button type="submit" class="btn btn-success mb-4 mt-4 col-4">Add Item</button>
				</div>
			</form>
		</div>


		<script type="text/javascript">
	    
	    
	
	    
	    </script>
	</section>

</body>
</html>