<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "
	th:replace="layout::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section class="content-wrapper">
	<div class="container shadow-sm border rounded mt-4 mb-4 bg-white">
	        
	        <h2 class="blue-underline mt-4 mb-4 col-md-12 text-colour">Add Item</h2>

	        <!-- Add Item Form -->
	        <form th:action="@{/admin/addItem}" th:method="post">
	            <div class="form-row">
	                <!-- Item Name -->
	                <div class="form-group col-md-6">
	                    <label for="itemName">Item Name</label>
	                    <input type="text" class="form-control" id="itemName" name="item_name" placeholder="Enter item name" required>
	                </div>

	                <!-- Item Code -->
	                <div class="form-group col-md-6">
	                    <label for="itemCode">Item Code</label>
	                    <input type="text" class="form-control" id="itemCode" name="item_code" placeholder="Enter item code">
	                </div>
	            </div>

				
				<!-- Select Category -->
	            <div class="form-row">
	                
					
					<!-- Item HSN / SAC -->
					<div class="form-group col-md-6">
						<label for="itemCode">Item  HSN / SAC</label>
						<input type="text" class="form-control" id="itemCode" name="item_HSN_SAC" placeholder="Item HSN / SAC">
					</div>
					
					
					 <!-- Color -->
	                <div class="form-group col-md-6">
	                    <label for="color">Color</label>
	                    <input type="text" class="form-control" id="color" name="color" placeholder="Enter color">
	                </div>

	                
	            </div>

	            <div class="form-row">
					
					<!-- Select Product Type for Upper body -->
					<div class="form-group col-md-6" style="display: block;">
						<label for="selectProductTypeUpperBody">Product Type</label>
						<select class="form-control" id="selectProductTypeUpperBody">
							<option selected disabled>Select Type...</option>
							<option>Shirt</option>
							<option>T-Shirt</option>
							<option>Jeans</option>
							<option>Pants</option>
							<option>Pajamas</option>
						</select>
					</div>
					
					<!-- Category Name -->
					<div class="form-group col-md-6">
						<label for="selectCategory">Select Size</label>
						<select class="form-control" id="selectCategory" name="category_name">
							<!-- <option selected disabled>Select Category...</option> -->
							<option>Numeric</option>
							<option>Alpha Numeric</option>
						</select>
					</div>     

	            </div>
	            	            
	            
	            <!-- Quantity according to size Numeric-->
	            <div id  ="sizeNumeric" class="form-row mt-5">
	                
					
					<!-- size 28 -->
					<div class="form-group col-md-2">
						<label for="itemCode">Size 28</label>
						<input type="text" class="form-control" id="itemCode" name="size_28" placeholder="Enter quantity">
					</div>
					
					
					 <!-- size 30 -->
					<div class="form-group col-md-2">
						<label for="size30">Size 30</label>
						<input type="text" class="form-control" id="size30" name="size_30" placeholder="Enter quantity">
					</div>
					
					<!-- size 32 -->
					<div class="form-group col-md-2">
						<label for="size32">Size 32</label>
						<input type="text" class="form-control" id="size32" name="size_32" placeholder="Enter quantity">
					</div>
					
					
					<!-- size 34 -->
					<div class="form-group col-md-2">
						<label for="size34">Size 34</label>
						<input type="text" class="form-control" id="size34" name="size_34" placeholder="Enter quantity">
					</div>
					
					<!-- size 36 -->
					<div class="form-group col-md-2">
						<label for="size36">Size 36</label>
						<input type="text" class="form-control" id="size36" name="size_36" placeholder="Enter quantity">
					</div>
					
					<!-- size 38 -->
					<div class="form-group col-md-2">
						<label for="size38">Size 38</label>
						<input type="text" class="form-control" id="size38" name="size_38" placeholder="Enter quantity">
					</div>
					
					<!-- size 40 -->
					<div class="form-group col-md-2">
						<label for="size40">Size 40</label>
						<input type="text" class="form-control" id="size40" name="size_40" placeholder="Enter quantity">
					</div>
					
					<!-- size 42 -->
					<div class="form-group col-md-2">
						<label for="size40">Size 42</label>
						<input type="text" class="form-control" id="size40" name="size_40" placeholder="Enter quantity">
					</div>
					
					<!-- size 44 -->
					<div class="form-group col-md-2">
						<label for="size40">Size 44</label>
						<input type="text" class="form-control" id="size40" name="size_40" placeholder="Enter quantity">
					</div>
					
					<!-- size 46 -->
					<div class="form-group col-md-2">
						<label for="size40">Size 46</label>
						<input type="text" class="form-control" id="size40" name="size_40" placeholder="Enter quantity">
					</div>
					
					<!-- size 48 -->
					<div class="form-group col-md-2">
						<label for="size40">Size 48</label>
						<input type="text" class="form-control" id="size40" name="size_40" placeholder="Enter quantity">
					</div>
					
					<!-- size 50 -->
					<div class="form-group col-md-2">
						<label for="size40">Size 50</label>
						<input type="text" class="form-control" id="size40" name="size_40" placeholder="Enter quantity">
					</div>
	                
	            </div>
	            	          
	            
	             <!-- Quantity according to size AlphaNumeric-->
	            <div id="sizeAlphaNumeric" class="form-row mt-5" style="display: none;">	                
					
					<!-- size XS -->
					<div class="form-group col-md-2">
						<label for="sizeS">Size XS (30-32)</label>
						<input type="text" class="form-control" id="sizeS" placeholder="Enter quantity">
					</div>
					
					<!-- size S -->
					<div class="form-group col-md-2">
						<label for="sizeS">Size S (34-36)</label>
						<input type="text" class="form-control" id="sizeS" placeholder="Enter quantity">
					</div>					
					
					 <!-- size M -->
					<div class="form-group col-md-2">
						<label for="sizeM">Size M (38-40)</label>
						<input type="text" class="form-control" id="sizeM" placeholder="Enter quantity">
					</div>
					
					<!-- size L -->
					<div class="form-group col-md-2">
						<label for="sizeL">Size L (42-44)</label>
						<input type="text" class="form-control" id="sizeL" placeholder="Enter quantity">
					</div>
					
					
					<!-- size XL -->
					<div class="form-group col-md-2">
						<label for="sizeXL">Size XL (46-48)</label>
						<input type="text" class="form-control" id="sizeXL" placeholder="Enter quantity">
					</div>
					
					<!-- size 2XL -->
					<div class="form-group col-md-2">
						<label for="size2XL">Size 2XL (50-52)</label>
						<input type="text" class="form-control" id="size2XL" placeholder="Enter quantity">
					</div>
					
					<!-- size 3XL -->
					<div class="form-group col-md-2">
						<label for="size3XL">Size 3XL (54-56)</label>
						<input type="text" class="form-control" id="size3XL" placeholder="Enter quantity">
					</div>
					
					<!-- size 4XL -->
					<div class="form-group col-md-2">
						<label for="size3XL">Size 4XL (58-60)</label>
						<input type="text" class="form-control" id="size3XL" placeholder="Enter quantity">
					</div>
					
					<!-- size 5XL -->
					<div class="form-group col-md-2">
						<label for="size3XL">Size 5XL (62-64)</label>
						<input type="text" class="form-control" id="size3XL" placeholder="Enter quantity">
					</div>
					
					<!-- size 6XL -->
					<div class="form-group col-md-2">
						<label for="size3XL">Size 6XL (66-68)</label>
						<input type="text" class="form-control" id="size3XL" placeholder="Enter quantity">
					</div>
					
					<!-- size 7XL -->
					<div class="form-group col-md-2">
						<label for="size3XL">Size 7XL (70-72)</label>
						<input type="text" class="form-control" id="size3XL" placeholder="Enter quantity">
					</div>
	                
	                <!-- size 8XL -->
					<div class="form-group col-md-2">
						<label for="size3XL">Size 7XL (74-76)</label>
						<input type="text" class="form-control" id="size3XL" placeholder="Enter quantity">
					</div>
	            </div>
	            	            

				<h4 class="blue-underline mt-4 mb-4 col-md-2 text-colour">PRICING</h4>
				
	            <div class="form-row">
					
					<!-- Pricing Section -->
					<div class="form-group col-md-6">
						<label for="itemMRP">MRP (Maximum Retail Price)</label>
						<input type="text" class="form-control" id="itemMRP" name="mrp" placeholder="Enter MRP"  required>
					</div>
					
					<div class="form-group col-md-6">
						<label for="itemSalePrice">Sale Price</label>
						<input type="text" class="form-control" id="itemSalePrice" name="sale_price" placeholder="Enter sale price"  required>
					</div>
					
					<div class="form-group col-md-6">
						<label for="itemWholesalePrice">Wholesale Price</label>
						<input type="text" class="form-control" id="itemWholesalePrice" name="wholesale_price" placeholder="Enter wholesale price" 
							required>
					</div>
					
					<div class="form-group col-md-6">
						<label for="itemPurchasePrice">Purchase Price</label>
						<input type="text" class="form-control" id="itemPurchasePrice" name="purchase_price" placeholder="Enter wholesale price"
							required>
					</div>					       
	            </div>
				
				<h4 class="blue-underline mt-4 mb-4 col-md-2 text-colour">STOCK</h4>
				
				<div class="form-row">
								
								<!-- STOCK Section -->
								<div class="form-group col-md-6">
									<label for="itemOpening Stock">Opening Stock</label>
									<input type="text" class="form-control" id="itemOpening Stock" name="opening_Stock" placeholder="Enter Opening Stock" required>
								</div>
								
								<div class="form-group col-md-6">
									<label for="itemMInStockToMaintain">Min Stock To Maintain</label>
									<input type="text" class="form-control" id="itemMInStockToMaintain" name="stock_to_Maintain" placeholder="Enter Min Stock To Maintain" required>
								</div>       
				            </div>
							
				<div class=" text-center border-top mt-4">
					<button type="submit" class="btn btn-success mb-4 mt-4 col-4">Add Item</button>
				</div>    
	        </form>
	    </div>
	    
	    
	    <script type="text/javascript">
	    
	    
	
	    
	    </script>
</section>

</body>
</html>